h1{
  color: red;
  background-color: black;
}



.jumbotron{
  min-height: 600px;
  background-image: url('amazon.jpg');
  background-size: cover;
  background-attachment: fixed;
}
p{
  color: white;
}
h2{
  color: red;
}
h3{
  color: white;
}
ul li{
  color: white;
}
